# -- LLM Node Test Environment --

LLM_API_TYPE=openai_compatible

# -- MODEL AREA --

LLM_API_URL=https://api.deepseek.com/v1/
LLM_API_KEY=YOUR_API_KEY_HERE
# Short reasoning
LLM_API_MODEL=deepseek-v4-flash
# Dedicated reasoning
#LLM_API_MODEL=deepseek-reasoner

# -- General --

LLM_STREAM=true
LLM_MAX_HISTORY_LENGTH=10
LLM_MAX_TOOL_CALLS=5
LLM_TEMPERATURE=0.0
LLM_TOOL_CHOICE=auto
LLM_SYSTEM_PROMPT="You are a technical assistant. Use your tools to inspect the ROS 2 system."
LLM_TOOL_INTERFACES=../config/ros_cli_tools.py

# -- Test Configuration --

TEST_VERBOSE=1
LLM_IS_REASONER=true
